
.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
}

.image-bg-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('../images/banner.jpg') ;
    height: 450px;
}
.navbar{
    background-color: #76e9c6;
}
.nav-item > a:hover {
    color: aqua;
}
.nav-link{
    color: white;
}
body{
    position: relative;
}
.active a{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(156, 156, 156) !important;
}